<!DOCTYPE html>
<html>
  <head>
    <title>lms Account Activation</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        text-align: center;
      }

      h1 {
        color: #333;
      }

      .email-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 600px;
        padding: 20px;
      }

      p {
        color: #555;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <h1>hi <%=name %></h1>
      <p>Thank you for registering with our website.</p>
      <p>Reply in this video <%=title %>.</p>
    </div>
  </body>
</html>
